<template>
  <div class="apps max-w-6xl p-4 m-auto">
    <p>
      <span class="font-bold text-2xl inline-block mr-3">Dockerun Host</span
      ><span class="lg:hidden"><br /></span>
      Quickly launch generated containers with the click of a button
    </p>

    <div class="mt-5">
      <div
        class="p-5 bg-gradient-to-r from-blue-600 via-blue-500 to-blue-500 text-white rounded-t-lg"
      >
        <span class="font-bold text-xl inline-block mr-3"
          ><font-awesome-icon
            :icon="['fab', 'windows']"
            class="mr-3"
          />Windows</span
        ><span class="lg:hidden"><br /></span>
        <span class="font-bold text-sm"
          >Version 1.2 - Latest updated: 2020-09-07</span
        >
      </div>
      <div class="p-5 rounded-b-lg border border-blue-500 text-justify">
        <p>
          Dockerun Host for Windows enhances your Dockerun experience by
          introducing a new and faster way to run new containers on the fly. Say
          goodbye to the old-fashioned copy & paste and welcome a one-button way
          of starting your containers.
        </p>

        <div class="flex flex-wrap">
          <div class="w-full md:flex-1 m-3">
            <p class="text-xl">1. Download</p>
            <hr class="my-1" />
            <div class="text-sm">
              <p>Dockerun Host for Windows (7 and later) is only 217kb!</p>
              <a
                href="dockerunhost/DockerunHost.exe"
                class="inline-block my-2 text-xs bg-transparent hover:bg-green-500 focus:bg-green-500
              text-green-500 font-semibold hover:text-white focus:text-white pt-1 pb-1 px-2 border border-green-500 hover:border-transparent
              focus:border-transparent rounded transition ease-in-out duration-200"
              >
                <font-awesome-icon icon="download" class="mr-1" />
                Download
              </a>
              <p>
                <strong>Only for geeks:</strong> if you don't trust my
                executable, you can head to
                <a
                  href="https://gitlab.com/fsorge/dockerun-host"
                  target="_blank"
                  rel="noopener"
                  class="text-blue-500 hover:text-blue-800"
                  >GitLab</a
                >
                and compile your own Dockerun host.
              </p>
            </div>
          </div>
          <div class="w-full md:flex-1 m-3">
            <p class="text-xl">2. Open</p>
            <hr class="my-1" />
            <div class="text-sm">
              <p>
                Open the previously downloaded file and you should be greeted by
                this simple window:
              </p>
              <div class="text-center">
                <img
                  src="dockerunhost/first-run.png"
                  alt="Dockerun Host registered with OS"
                  class="inline-block sm:w-6/12 md:w-9/12 my-2"
                />
              </div>
              <p>Everything went right, you can close the window.</p>
              <p>
                <strong>Note:</strong> if you move the file in the future,
                repeat this step.
              </p>
            </div>
          </div>
          <div class="w-full md:flex-1 m-3">
            <p class="text-xl">3. Generate</p>
            <hr class="my-1" />
            <div class="text-sm">
              <p>
                After configuring your container with Dockerun, go below the
                generated Docker run command and click the button 'Launch
                containers now'
              </p>
              <div class="text-center">
                <img
                  src="dockerunhost/step-3.png"
                  alt="Click 'Launch containers now'"
                  class="inline-block w-auto max-w-full my-2"
                />
              </div>
              <p>
                Now simply click 'Authorize' and the container will start
                automatically!
              </p>
              <div class="text-center">
                <img
                  src="dockerunhost/step-3-1.png"
                  alt="Click 'Launch containers now'"
                  class="inline-block w-auto max-w-full my-2"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
