<template>
  <div class="flex justify-center">
    <div id="nav" class="max-w-6xl m-auto">
      <router-link to="/">Home</router-link>
      <router-link to="/apps">Apps</router-link>

      <div class="hidden sm:block" style="width: 100%; text-align: center">
        <router-link to="/">
          <img class="inline-block" alt="Dockerun logo" src="../assets/logo.png">
        </router-link>
      </div>

      <router-link to="" class="spacer right"></router-link>
      <router-link to="/about" class="right">About</router-link>
    </div>
  </div>
</template>

<style lang="scss">
  #nav {
    width: 100%;
    background-color: #ecf7fd;
    padding: 0 1rem !important;
    margin: 1rem 2rem;
    border-radius: .5rem;
    display: flex;

    a {
      display: inline-block;
      padding: .5rem 1rem;
      margin: 1rem .5rem;
      border-radius: .5rem;
      transition: .1s ease-in-out;

      &.spacer {
        display: none;
      }

      @media (min-width: 640px) {
        &.right {
          margin: 1rem .5rem 1rem auto;
        }

        &.spacer {
          display: inline-block;
          visibility: hidden;
        }
      }

      &.router-link-exact-active {
        color: #2496ED !important;
      }

      &:hover {
        background-color: #2496ED;
        color: white !important;
      }

      img {
        width: 32px;
      }
    }
  }
</style>

<script lang="ts">
  import Vue from 'vue';

  export default Vue.extend({
    name: 'Menu',
  });
</script>
